p {
    font-family: Arial;
    margin-left:10px;
}

.card {
    width: 200px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.image {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.name {
    font-size: 18px;
    font-weight: Bold;
    margin-top: 8px;
    margin-bottom: 4px;
}

.mutual-friend {
    color: rgb(100, 100, 100);
    margin-top: 0px;
    margin-bottom: 10px;
}

.add-friend-button {
    background-color: rgb(24, 119, 242);
    color: white;
    border: none;
    padding: 8px 22px;
    border-radius: 3px;
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
}