.flexbox {
    display: flex;
    flex-direction: row;
}

.item1-flexbox {
    background-color: lightblue;
    width: 50px;
}

.item2-flexbox {
    background-color: lightpink;
    flex: 1;
}

.item3-flexbox {
    background-color: lightblue;
    width: 75px;
}