.container {
    display: inline-block;
    position: relative;
    background-color: lightblue;
}

img {
    width: 300px;
}

.discount {
    font-family: Arial;
    padding: 10px 12px;
    background-color: black;
    color: white;
    position: absolute;
    top: 10px;
    right: 0;
}