.thumbnail {
    width: 100%;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-picture-container {
    display: inline-block;
    position: relative;
}

.profile-picture-container:hover .profile-picture-hover {
    opacity: 1;
}

.profile-picture {
    width: 36px;
    border-radius: 50px;
}

.profile-picture-hover {
    background-color: white;
    padding: 8px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: -65px;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
}

.hover-picture {
    width: 40px;
    border-radius: 50%;
    padding-right: 6px;
}

.hover-info {
    white-space: nowrap;
    line-height: 14px;
}

.hover-info p {
    font-size: 12px;
    font-weight: bold;
}

.hover-info span {
    color: rgb(96, 96, 96);
    font-family: Roboto, Arial;
    font-size: 10px;
}

.video-title {
    margin-top: 0px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}

.video-title a {
    color: black;
    text-decoration: none;
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

.video-author,
.video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.video-author {
    margin-bottom: 4px;
}

.video-author a {
    color: rgb(96, 96, 96);
    text-decoration: none;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media (max-width: 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.video-time {
    font-size: 12px;
    font-weight: 500;
    padding: 4px 4px;
    border-radius: 2px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 8px;
    right: 5px;
}

@media (min-width: 1000px) {
    .video-time,
    .video-title{
        font-size: 16px;
        line-height: 24px;
    }

    .video-author,
    .video-stats {
        font-size: 14px;
    }


}